.edit .controller.ds4 {
    background: url(https://raw.githubusercontent.com/ZeroFivee/Ds4-luxor/master/Remade-assets/baseV2.png);
}


.controller.edit {
    background: url(https://raw.githubusercontent.com/ZeroFivee/Ds4-luxor/master/Remade-assets/baseV2.png);
}


.edit .face .ds4 {
    background: url(https://raw.githubusercontent.com/ZeroFivee/Ds4-luxor/master/Remade-assets/dpad.png);
}


.edit .face {
    position: absolute;
    background: url(https://raw.githubusercontent.com/ZeroFivee/Ds4-luxor/master/Remade-assets/dpad.png);
}


.edit .stick .ds4 {
    background: url(https://raw.githubusercontent.com/ZeroFivee/Ds4-luxor/master/Remade-assets/sticks.png);
}


.edit .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/ZeroFivee/Ds4-luxor/master/Remade-assets/sticks.png);
}
