.edit .controller.ds4 {
    background: url(https://zerofivee.github.io/Luxor-assets/base.png);
}


.controller.edit {
    background: url(https://zerofivee.github.io/Luxor-assets/base.png);
}


.edit .face .ds4 {
    background: url(https://zerofivee.github.io/Remade-assets/face.png);
}


.edit .face {
    position: absolute;
    background: url(https://zerofivee.github.io/Remade-assets/face.png);
}

.edit .dpad .ds4 {
    background: url(https://zerofivee.github.io/Remade-assets/dpad.png);
}


.edit .dpad {
    position: absolute;
    background: url(https://zerofivee.github.io/Remade-assets/dpad.png);
}


.edit .stick .ds4 {
    background: url(https://zerofivee.github.io/Remade-assets/sticks.png);
}


.edit .stick {
    position: absolute;
    background: url(https://zerofivee.github.io/Remade-assets/sticks.png);
}

.edit .touchpad .ds4 {
    background: url(https://zerofivee.github.io/Remade-assets/touchpad.png);
}


.edit .touchpad {
    position: absolute;
    background: url(https://zerofivee.github.io/Remade-assets/touchpad.png);
}

.edit .touchpad .pressed {
    position: absolute;
    background: url(https://zerofivee.github.io/Luxor-assets/touchpad.png);
}

.edit .start .pressed {
    position: absolute;
    background: url(https://zerofivee.github.io/Luxor-assets/start.png);
}
